# OpendTect Python Bindings - Wells

In [13]:
import sys
sys.path.insert(0,r'C:\Program Files\OpendTect_6\6.6.0\bin\win64\Release')
import wmodpy

## Wells Class
This class provides access to well data within an OpendTect project/survey. Creating a Wells object requires a Survey object for context. Methods are provided to:
-  List the names of all wells in the project/survey
-  List summary information on all wells
-  List well log information in a well
-  List markers in a well
-  List a well track

The base methods generally output Python Dictionaries but variants are provided to output Pandas Dataframe (method name suffixed by "_df") and GeoPandas GeoDataframe (method name suffixed by "_gdf") if your Python environment includes those packages.

In [14]:
f3demo = wmodpy.Survey('Z:\ODData', 'F3_Demo_2020')
f3demo_wells = wmodpy.Wells(f3demo)
f3demo_wells.names()

['F02-1', 'F03-2', 'F03-4', 'F06-1', 'F02-01_welltrack']

In [15]:
f3demo_wells.info()

{'Name': ['F02-1', 'F03-2', 'F03-4', 'F06-1', 'F02-01_welltrack'],
 'UWID': ['', '', '', '', ''],
 'State': ['', '', '', '', ''],
 'County': ['', '', '', '', ''],
 'WellType': ['none', 'none', 'none', 'none', 'none'],
 'X': [606554.0, 619101.0, 623255.98, 607903.0, 606554.0],
 'Y': [6080126.0, 6089491.0, 6082586.87, 6077213.0, 6080126.0],
 'ReplacementVelocity': [2000.0, 2000.0, 2000.0, 2000.0, 2000.0],
 'GroundElevation': [1.0000000150474662e+30,
  1.0000000150474662e+30,
  1.0000000150474662e+30,
  1.0000000150474662e+30,
  1.0000000150474662e+30]}

In [16]:
f3demo_wells.info_df()

,Name,UWID,State,County,WellType,X,Y,ReplacementVelocity,GroundElevation
0,F02-1,,,,none,606554.00,6080126.00,2000.0,1.000000e+30
1,F03-2,,,,none,619101.00,6089491.00,2000.0,1.000000e+30
2,F03-4,,,,none,623255.98,6082586.87,2000.0,1.000000e+30
3,F06-1,,,,none,607903.00,6077213.00,2000.0,1.000000e+30
4,F02-01_welltrack,,,,none,606554.00,6080126.00,2000.0,1.000000e+30

In [17]:
f3demo_wells.log_info_df('F02-1')

,Name,Mnem,Uom,DahRange,ValueRange
0,Sonic,DT,us/ft,"(305.1000061035156, 1424.0999755859375)","(112.20144653320312, 176.78977966308594)"
1,Gamma Ray,GR,API,"(50.099998474121094, 1499.8499755859375)","(1.3392000198364258, 129.177001953125)"
2,Porosity,PHI,Fraction,"(305.1000061035156, 1424.1700439453125)","(0.25765201449394226, 0.40758100152015686)"
3,P-Impedance,IMP,Meter/second x Kg/m3,"(262.04998779296875, 1499.8399658203125)","(2846140.0, 5978060.0)"
4,P-Impedance_rel,IMP,Meter/second x Kg/m3,"(262.04998779296875, 1499.8399658203125)","(-477863.0, 410655.0)"
5,Vp,VEL,Meter/second,"(305.1000061035156, 1424.0999755859375)","(1724.3699951171875, 2714.530029296875)"
6,Vp_BLI,VEL,Meter/second,"(795.1500244140625, 1136.699951171875)","(2098.55712890625, 2567.929443359375)"
7,Vs_BLI,VEL,Meter/second,"(795.1500244140625, 1149.4500732421875)","(1009.1357421875, 1290.41943359375)"
8,Density_BLI,RHOB,g/cc,"(795.1500244140625, 1131.9000244140625)","(2.120548963546753, 2.260430097579956)"
9,Litholog (10=sand 15=silt 20=silty shale 30=sh...,LITHO,,"(50.099998474121094, 1499.7244873046875)","(10.0, 30.0)"
10,GR2,OTH,,"(50.0, 1499.728759765625)","(-20.0, 258.35400390625)"
11,Sonic_upscaled,DT,us/ft,"(305.0, 1424.0)","(1.0, 168.8046417236328)"
12,Sonic_resampled,DT,us/ft,"(305.1000061035156, 1423.9500732421875)","(112.20144653320312, 176.78977966308594)"

In [18]:
f3demo_wells.markers_df('F03-4')

            Name    Color           MD
0     Seasurface  #dc3232    30.000000
1          MFS11  #3232dc   479.739990
2       FS11_new  #32c832   515.340027
3          MFS10  #32c8c8   547.750000
4           MFS9  #ffd200   547.750000
5           MFS8  #dc00dc   547.750000
6            FS8  #00ff00   568.969971
7            FS7  #3232dc   583.969971
8     Truncation  #aa55ff   662.539978
9   Top Foresets  #ff0000   697.109985
10           FS6  #ffaa00   856.080017
11          MFS4  #0055ff   916.679993
12           FS4  #32c832   946.500000
13           FS3  #32c8c8  1024.390015
14           FS2  #ffd200  1071.119995
15          MFS2  #dc00dc  1111.130005
16           FS1  #8c8250  1200.930054
17          Test  #808080  1240.000000
18           MMU  #ff0000  1246.000000

In [19]:
f3demo_wells.track_df('F03-4')

        md        tvdss            x          y
0      0.0   -34.099998  623256.0000  6082587.0
1    100.0    65.900002  623256.0000  6082587.0
2    270.0   235.870056  623255.8750  6082590.0
3    380.0   345.859985  623255.8750  6082591.5
4    475.0   440.859985  623255.8125  6082591.5
5    655.0   620.859985  623255.8125  6082592.5
6    751.0   716.849976  623255.8125  6082593.5
7    856.0   821.840088  623255.7500  6082594.5
8    952.0   917.840088  623255.7500  6082595.5
9   1000.0   965.830078  623255.6875  6082596.5
10  1106.0  1071.829956  623255.6875  6082597.5
11  1201.0  1166.829956  623255.6250  6082598.0
12  1297.0  1262.819946  623255.6250  6082599.0
13  1400.0  1365.810059  623255.6250  6082600.0
14  1737.0  1702.760010  623255.4375  6082606.0
15  1941.0  1906.729980  623255.3125  6082609.5
16  2048.0  2013.709961  623255.2500  6082611.5

In [20]:
f3demo_wells.log_data('F02-1',['Gamma Ray'],0.15, wmodpy.Wells.SampleMode.Sample)

{'MD': array([  50.100002,   50.250004,   50.4     , ..., 1499.4     ,
        1499.55    , 1499.7001  ], dtype=float32),
 'Gamma Ray': array([ 3.0703  ,  2.7441  ,  2.656402, ..., 28.5281  , 28.5813  ,
        28.580807], dtype=float32)}

In [21]:
f3demo_wells.log_data_df('F02-1',['Vp','Sonic'],0.15, wmodpy.Wells.SampleMode.Upscale)

               MD           Vp       Sonic
0      305.250000  1930.219971  159.431122
1      305.399994  1910.320068  160.473129
2      305.549988  1876.800049  163.006119
3      305.700012  1856.055054  164.884308
4      305.850006  1865.390015  162.624664
...           ...          ...         ...
7454  1423.350098  1985.439941  153.499207
7455  1423.500000  1982.094971  153.899216
7456  1423.650024  1975.619995  154.328979
7457  1423.800049  1969.324951  154.747665
7458  1423.950073  1963.270020  155.155701

[7459 rows x 3 columns]